html {
    box-sizing: border-box;
    font-size: 15px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
    h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

body {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

.header-top {
    margin-top: 3%;
    margin-left: 7%;
}

main {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 2% 3% 0 3%;
}

.illustration {
   width: 165%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

article {
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    color: rgb(253, 237, 253);
}

.content h1 {
    max-width: 100%;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: white;
}

article p {
    max-width: 113%;
    margin-top: 3%;
}

.botton-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 3.2em;
    margin-top: 5%;
    font-size: 15px;
    border: none;
    background-color: white;
    border-radius: 3.33em;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.botton-register a {
    display: block;
    text-decoration: none;
}

footer {
    display: flex;
    max-width: 90%;
    display: flex;
    justify-content: right;
    margin-left: 8%;
}

footer img {
    width: 3%;
    margin-right: 1%; 
}

@media screen and (max-width:375px) {
    body {
        background-image: url(/images/bg-mobile.svg);
        background-size: auto;
    }


    .header-top {
        width: 50%;
        margin: 8% 8% 15% 8%;
    }
    
    
    main {
        flex-direction: column;
        align-items: center;
    }
    
    .illustration {
       width: 110%;
    }

    .content {
        align-items: center;
    }

    article {
        margin-top: 5%;
    }
    
    .content h1 {
        width: 80%;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5em;
        margin: 5% 10% 0 10%;
    }
    
    article p {
        max-width: 91%;;
        margin: 5% auto;
        text-align: center;
        line-height: 1.5em;
    }
    
    .botton-register {
        width: 65%;
        height: 3em;
        margin-top: 8%;
    }
    
    .botton-register a {
        text-decoration: none;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20% 5% 0 5%;    
    }
    
    footer img {
        width: 10%;
        margin-right: 2%; 
    }  
}
