    html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
    h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

body {
    margin: 0;
    padding: 0;
    max-width: 1400px;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
}

.header-top {
    margin-top: 3%;
    margin-left: 7%;
}


main {
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    margin: 3% 5% 0 5%;
}

.illustration {
   width: 200%;

}

.illustration img {
    width: 100%;
 }

.content {
    display: flex;
    flex-direction: column;
}

article {
    margin-top: 15%;
    font-family: 'Poppins', sans-serif;
    color: white;
}

article h1 {
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5em;
}

article p {
    width: 113%;
    margin-top: 3%;
}

.botton-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 3.2em;
    margin-top: 3%;
    font-size: 15px;
    border: none;
    background-color: white;
    border-radius: 3.33em;
    
}

.botton-register a {
    text-decoration: none;
}

footer {
    
}

footer figure {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 9%;
}

footer img {
    width: 4%;
    margin-right: 1%; 
}

@media screen and (max-width:375px) {
    body {
        background-image: url(/images/bg-mobile.svg);
        background-size: auto;
    }


    .header-top {
        width: 50%;
        margin: 8% 8% 15% 8%;
    }
    
    
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .illustration {
       width: 110%;
    
    }
    
    .illustration img {
        width: 100%;
     }
    
    .content {
        align-items: center;
    }

    article {
        margin-top: 15%;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    
    article h1 {
        width: 80%;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5em;
        margin: 5% 10% 0 10%;
    }
    
    article p {
        width: 97%;
        margin-top: 5%;
        text-align: center;
    }
    
    .botton-register {
        width: 65%;
        height: 3em;
        margin-top: 8%;
    }
    
    .botton-register a {
        text-decoration: none;
    }
    
    footer {
        
    }
    
    footer figure {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10% 5% 0 5%;
        
    }
    
    footer img {
        width: 10%;
        margin-right: 2%; 
    }
    
}